<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.billingms.infrastructure.repositories.mybatis.InvoiceLineMapper">

    <resultMap id="invoiceLineResultMap" type="com.example.billingms.domain.projections.InvoiceLine">
        <id property="invoiceId" column="invoice_id"/>
        <id property="lineSeq" column="line_seq"/>
        <result property="lineType" column="line_type"/>
        <result property="description" column="description"/>
        <result property="amount" column="amount"/>
        <result property="reasonCode" column="reason_code"/>
    </resultMap>

    <insert id="insertInvoiceLine">
        INSERT INTO invoice_line (
            invoice_id,
            line_seq,
            line_type,
            description,
            amount,
            reason_code
        ) VALUES (
            #{invoiceId},
            #{lineSeq},
            #{lineType},
            #{description},
            #{amount},
            #{reasonCode}
        )
    </insert>

    <select id="findByInvoiceId" resultMap="invoiceLineResultMap">
        SELECT * FROM invoice_line WHERE invoice_id = #{invoiceId} ORDER BY line_seq
    </select>

    <select id="findMaxLineSeq" resultType="java.lang.Integer">
        SELECT MAX(line_seq) FROM invoice_line WHERE invoice_id = #{invoiceId}
    </select>

</mapper>
